activations==0.1.0
asposestorage==1.0.2
ast
benchmark==0.1.1
collections
datasets==2.00.0
encoder_decoder==0.1.7
file_utils==0.0.1
gc
image_utils==0.1.6
Ipython
nltk
numpy==1.22.3
matplotlib.pyplot
pandas==1.4.1
pipeline==0.1.0
plotly==5.6.0
pytorch_utils==0.5.5
scikit_learn==1.0.2
seaborn==0.11.2
sentencepiece==0.1.96
six==1.16.0
stylecloud
termcolor
textstat
tokenizers==0.11.6
torch==1.11.0
trainer==0.0.1
transformers==4.17.0
utils==1.0.1
wandb==0.12.11
warnings
wordcloud==1.8.1

